html,
body {
	width: 100%;
	height: 100%;
	min-width: 1200px;
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

body {
	color: #333;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

ul,
ol {
	list-style: none;
}

a:link,
a:visited,
a:hover {
	color: #333333;
	text-decoration: none;
}

img {
	border: 0;
}

table {
	border-collapse: collapse;
}

button,
input,
textarea {
	outline: none;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}