html,
body {
	width: 100%;
	height: 100%;
	min-width: 1200px;
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	font-size: 14px;
	font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	font: 14px Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	
}

ul,
ol {
	list-style: none;
}

a:link,
a:visited {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #990000;
	text-decoration: underline;
}

img {
	border: 0;
}

table {
	border-collapse: collapse;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}