.nav-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nav-header .logo {
    cursor: pointer;
    height: 80px;
}

.nav-header .nav-list {
	display: none;
}

.nav-header .language-tab {
	display: none;
}

.nav-header .contact-info {
	display: none;
}
