body {
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: 120px;
    min-height: 120px;
    background: url("../../img/banner-5.png") no-repeat center bottom;
    background-size: cover;
    position: relative;
}

.banner > div {
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.banner > div p {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;
}


.banner > div p {
    font-size: 16px;
    letter-spacing: 5px;
}

.banner > div p:last-child {
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
}


.market {
    flex: 1;
    margin: 20px auto 20px;
    text-align: center;
}

.market h5 {
    display: inline;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    border-bottom: 2px solid #7999FF;
    margin: 0 auto;
    padding-bottom: 3px;
}

.market > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.market > div img {
    width: 80%;
    margin-bottom: 20px;
}

.market > div div {
    padding: 0 20px;
}

.market > div div p {
    text-align: left;
    line-height: 24px;
    margin-bottom: 10px;
}

.market > div div p:last-child {
    margin-bottom: 0;
}
