.banner {
	width: 100%;
	padding-top: 40%;
	background: url("../../img/banner-3.png") no-repeat center center;
	background-size: cover;
	position: relative;
}

.banner>div {
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.banner>div p {
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 5px;
	text-align: center;
	margin-bottom: 10px;
}

.banner>div p:last-child {
	font-size: 12px;
	font-weight: normal;
	letter-spacing: normal;
}

.progress {
	box-sizing: border-box;
	padding: 20px;
	min-height: calc(100vh - 80px - 40vw - 367px);
	text-align: center;
}

.progress h5 {
	display: inline;
	font-size: 16px;
	font-weight: bolder;
	border-bottom: 2px solid #7999FF;
	padding-bottom: 3px;
}

.progress>div {
	padding-top: 20px;
}

.progress>div p {
	text-indent: 2em;
	line-height: 36px;
}