.banner {
    width: 100%;
    height: 480px;
    background: url("../../img/banner-1.png") no-repeat center bottom;
    background-size: cover;
    position: relative;
}

.banner > div {
    width: 900px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.banner > div p {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 55px;
}


.banner > div p {
    font-size: 50px;
    letter-spacing: 15px;
}

.banner > div ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner > div ul li {
    color: #FFFFFF;
    font-size: 24px;
    letter-spacing: 10px;
    padding: 0 60px;
    position: relative;
}

.banner > div ul li:nth-child(2)::before {
    content: '';
    width: 2px;
    height: 20px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.banner > div ul li:nth-child(2)::after {
    content: '';
    width: 2px;
    height: 20px;
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.contact {
    width: 370px;
    margin: 50px auto 0;
    text-align: center;
}

.contact h5 {
    display: inline;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    border-bottom: 2px solid #7999FF;
    margin: 0 auto;
    padding-bottom: 5px;
}

.contact > div {
    text-align: left;
    padding: 50px 0;
}

.contact > div p {
    line-height: 50px;
    display: flex;
    flex-direction: row;
}

.contact > div p span:first-child {
	width: 100px;
	text-align: right;
}
