.footer {
    height: 200px;
    background-color: #EEEEEE;
}

.footer > div {
    width: 1050px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer .address {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.footer .address h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer .address ul {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.footer .address ul li {
    display: flex;
    margin-right: 50px;
}

.footer .address ul li p {
    color: #666666;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .address ul li p span {
}

.footer .qr-code {
    padding-top: 25px;
}

.footer .qr-code p {
    color: #666666;
    font-size: 16px;
    text-align: center;
    margin: 10px 0 0 0;
}
