.banner {
    width: 100%;
    padding-top: 480px;
    margin-bottom: 20px;
    background: url(../../img/banner.png) no-repeat center center;
    background-size: cover;
    position: relative;
}

.banner .content {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.banner .content .name {
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner .content .name::before {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #FFFFFF;
    margin-right: 20px;
}

.banner .content .name::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #FFFFFF;
    margin-left: 20px;
}

.banner .content .ambition {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.banner .content .ambition li {
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 38px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 20px;
    background: linear-gradient(-270deg, rgba(255, 255, 255, 1) 22.3876953125%, rgba(121, 153, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner .content .slogan {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.banner .content .slogan li {
    flex: 1;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    height: 20px;
    line-height: 20px;
}

.banner .content .slogan li + li {
    border-left: 1px solid #FFFFFF;
}

.banner .content button {
    width: 160px;
    height: 45px;
    color: #7999FF;
    font-size: 18px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.banner .content button a {
    color: #7999FF;
}

.main {
    display: flex;
    flex-direction: column;
}

.main .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main .profile aside {
    width: 50%;
    min-height: 400px;
    background: url(../../img/demo1.png) no-repeat center center;
    background-size: cover;
}

.main .profile article {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(238, 238, 238, 1);
    padding: 30px 8vw 20px 50px;
}

.main .profile article .title {
    align-self: flex-start;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid #7999FF;
}

.main .profile article div p {
    line-height: 30px;
    text-indent: 2em;
}

.main .profile .check-more {
    color: #7999FF;
    font-size: 18px;
    background: url(../../img/arrow.png) no-repeat center right;
    background-size: 10px;
    padding: 0 18px 0 10px;
}

.main .profile .check-more.behind a {
    color: #7999FF;
    font-size: 14px;
}

.main .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .product .title {
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0 60px;
    padding-bottom: 5px;
    border-bottom: 2px solid #7999FF;
}

.main .product ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10vw;
}

.main .product ul li {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

.main .product ul li + li {
    margin-left: 20px;
}

.main .product ul li img {
    width: 100%;
}

.main .product ul li div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 0 28px 30px;
}

.main .product ul li div span {
    display: inline;
    font-size: 24px;
    text-align: center;
    margin: 28px 0 22px;
}

.main .product ul li div p {
    color: #666666;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 16px;
}

.main .product ul li div button {
    align-self: center;
    border: none;
    background-color: #7999FF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 43px;
    cursor: pointer;
}

.main .product ul li div button a {
    color: #FFFFFF;
}

.main .product .check-more {
    align-self: center;
    color: #7999FF;
    font-size: 18px;
    margin: 30px 0 60px;
    cursor: pointer;
    background: url(../../img/arrow.png) no-repeat center right;
    padding-right: 18px;
}

.main .product .check-more a {
    color: #7999FF;
}

.main .market {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
}

.main .market aside {
    width: 50%;
    padding: 60px 100px 60px 0;
    border-right: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.main .market aside img {
    float: right;
}

.main .market article {
    width: 50%;
    padding: 60px 10% 60px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgba(238, 238, 238, 1);
}

.main .market article .title {
    align-self: flex-start;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid #7999FF;
}

.main .market article div p {
    line-height: 30px;
}

.main .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .message .title {
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0 60px;
    padding-bottom: 5px;
    border-bottom: 2px solid #7999FF;
}

.main .message div {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.main .message div p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.main .message div p span {
    font-size: 18px;
}

.main .message div p input,
.main .message div p textarea {
    width: 500px;
    border: 1px solid #CCCCCC;
    padding: 15px;
}

.main .message div p textarea {
    min-width: 500px;
    max-width: 500px;
    min-height: 100px;
    max-height: 300px;
}

.main .message div p button {
    border: none;
    background-color: #7999FF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 43px;
    cursor: pointer;
}
