.banner {
    width: 100%;
    height: 480px;
    background: url("../../img/banner-3.png") no-repeat center center;
    background-size: cover;
    position: relative;
}

.banner > div {
    width: 800px;
    height: 280px;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.banner > div p {
    color: #FFFFFF;
    font-size: 40px;
    letter-spacing: 15px;
    text-align: center;
    margin-bottom: 40px;
}

.banner > div p:last-child {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: normal;
}

.introduce {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    min-height: calc(100vh - 800px);
    box-sizing: border-box;
}

.introduce h5 {
    display: inline;
    font-size: 30px;
    font-weight: bolder;
    border-bottom: 2px solid #7999FF;
    padding-bottom: 5px;
}

.introduce > div {
    padding: 20px 0;
}

.introduce > div p {
    text-indent: 2em;
    line-height: 36px;
}
