.banner {
    width: 100%;
    height: 480px;
    background: url("../../img/banner-4.png") no-repeat center bottom;
    background-size: cover;
    position: relative;
}

.banner > div {
    width: 900px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.banner > div p {
    color: #FFFFFF;
    font-size: 46px;
    letter-spacing: 15px;
    text-align: center;
    margin-bottom: 50px;
}

.banner > div p:last-child {
    font-size: 24px;
}

.message {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 50px auto 30px;
}

.message h5 {
    align-self: center;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    border-bottom: 2px solid #7999FF;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.message div {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.message div p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.message div p span {
    font-size: 18px;
}

.message div p input, .message div p textarea {
    width: 500px;
    border: 1px solid #CCCCCC;
    padding: 15px;
}

.message div p textarea {
    min-width: 500px;
    max-width: 500px;
    min-height: 100px;
    max-height: 300px;
}

.message div p button {
    border: none;
    background-color: #7999FF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 43px;
    cursor: pointer;
}
