<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>晋城天成化工有限公司</title>
		<link rel="stylesheet" type="text/css" href="../css/global.css" />
		<link rel="stylesheet" type="text/css" href="../css/pc/contact.css" media="screen and (min-width: 500px)" />
		<link rel="stylesheet" type="text/css" href="../css/mobile/contact-m.css" media="screen and (max-width: 499px)" />
	</head>

	<body>
		<header></header>

		<div class="banner">
			<div>
				<p>技术铸就品牌，口碑赢得天下</p>
				<ul>
					<li>雄厚资质</li>
					<li>品质保障</li>
					<li>历史悠久</li>
				</ul>
			</div>
		</div>
		<div class="contact">
			<h5>联系我们</h5>
			<div>
				<p>
					<span>地址：</span>
					<span>山西省晋城市陵川县崇文镇</span>
				</p>
				<p>
					<span>电话：</span>
					<span>0356-6820666</span>
				</p>
				<p>
					<span>传真：</span>
					<span>0356-6820651</span>
				</p>
				<p>
					<span>网址：</span>
					<span>www.jcskysuccess.com</span>
				</p>
				<p>
					<span>邮箱：</span>
					<span>nfo@jcskysuccess.com<br />tcxsb0808@126.com</span>
				</p>
				<p>
					<span>销售电话：</span>
					<span>18635652858<br />18835633768</span>
				</p>
				<p>
					<span>外贸：</span>
					<span>15635648555</span>
				</p>
			</div>
		</div>
		<footer></footer>
		
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('header').load('header.html')
				$('footer').load('footer.html')
			})
		</script>
	</body>

</html>