<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>晋城天成化工有限公司</title>
		<link rel="stylesheet" type="text/css" href="../css/global.css" />
		<link rel="stylesheet" type="text/css" href="../css/pc/header.css" media="screen and (min-width: 500px)" />
		<link rel="stylesheet" type="text/css" href="../css/mobile/header-m.css" media="screen and (max-width: 499px)" />

	</head>

	<body>
		<div class="nav-header">
			<img src="../img/menu.png" alt="图片加载失败" class="menu">
			<img src="../img/logo.jpg" alt="图片加载失败" class="logo" />
			<div class="nav-bk">
				<ul class="nav-list">
					<li hrefUrl="index">首页</li>
					<li style="position:relative;" class="slide">
						<a>公司概况</a>
						<i class="arrow-up"></i>
						<ul class="slidedown">
							<li hrefUrl="introduce">公司介绍</li>
							<li hrefUrl="progress">发展历程</li>
							<li hrefUrl="honour">资质荣誉</li>
						</ul>
						<i class="triangle"></i>
					</li>
					<li hrefUrl="product">产品展示</li>
					<li hrefUrl="market">市场分布</li>
					<li hrefUrl="message">在线留言</li>
					<li hrefUrl="contact">联系我们</li>
				</ul>
			</div>
			<ul class="language-tab">
				<li class="active">中文</li>
				<li>英文</li>
			</ul>
			<ul class="contact-info">
				<li>
					<img src="../img/icon-phone.png" alt="手机号码" />
					<span>0356-6820651</span>
				</li>
				<li>
					<img src="../img/icon-email.png" alt="邮箱" />
					<span>tcxsb0808@126.com</span>
				</li>
			</ul>
		</div>

		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script>
			$(function() {
				$('.logo').on('click', function() {
					window.location.href = 'index.html'
				})

				let value = window.location.href

				$('.nav-list li').each(function() {
					let currentValue = $(this).attr('hrefUrl')
					if(value.indexOf(currentValue) !== -1) {
						$(this).addClass('active')
						$(this).parent('.slidedown').parent('li').addClass('active')
					}
				})

				$('.nav-list li').on('click', function(event) {
					event.stopPropagation()
					let url = $(this).attr('hrefUrl')
					if(url)
						window.location.href = url + '.html'
				})

				$('.menu').on('click', function() {
					$('.nav-bk').show().children('.nav-list').animate({
						'margin-left': 0
					}, 300)
				})

				$('.nav-bk').on('click', function(event) {
					if(event.target.className === 'nav-bk') {
						$('.nav-bk').children('.nav-list').animate({
							'margin-left': '-160px'
						}, 300, function() {
							$('.nav-bk').hide()
						})
					}
				})

				$('.slide').on('click', function() {
					if(document.body.clientWidth < 1200) {
						$('.slidedown').toggle('fast')
						if($('.arrow-up').hasClass('active')) {
							$('.arrow-up').removeClass('active')
						} else {
							$('.arrow-up').addClass('active')
						}
					}
				})
			})
		</script>
	</body>

</html>