<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>晋城天成化工有限公司</title>
		<link rel="stylesheet" type="text/css" href="../css/pc/index.css" media="screen and (min-width: 500px)" />
		<link rel="stylesheet" type="text/css" href="../css/mobile/index-m.css" media="screen and (max-width: 499px)" />
	</head>

	<body>
		<header></header>
		<div class="banner">
			<div class="content">
				<span class="name">晋城天成</span>
				<ul class="ambition">
					<li>引</li>
					<li>领</li>
					<li>化</li>
					<li>工</li>
					<li>潮</li>
					<li>流</li>
					<li>提</li>
					<li>高</li>
					<li>生</li>
					<li>活</li>
					<li>品</li>
					<li>质</li>
				</ul>
				<ul class="slogan">
					<li>诚信为本</li>
					<li>卓越务实</li>
					<li>精益求精</li>
					<li>共同发展</li>
				</ul>
				<button class="about-us">关于我们</button>

			</div>
		</div>
		<div class="main">
			<section class="profile">
				<aside></aside>
				<article>
					<span class="title">公司概况</span>
					<div>
						<p>
							晋城天成化工有限公司成立于2007年8月，位于陵川县崇文镇嘉落铺村，现有员工235人，是中国橡胶工业协会理事 单位。 2009年被晋城市工商行政管理局评为守合同重信用企业; 2013年被晋城市商务局授予对外贸易先进企业，被山西 省科技厅评为省级民营科技企业； 2014年被晋城市中小企业局评为创新型企业，同时公司的技术中心通过省中小企业局 评审，认定为省级中小企业技术中心， 且公司的商标“四方”2014年被山西省工商行政管理局授予“山西省著名商标”称 号，国家高新技术企业，是山西省乃至中西部地区唯一生产橡胶促进剂的企业。
						</p>
						<p>
							公司占地面积11.2万平方米，职工235人，其中专业技术人员70人，注册资本2000万元。现有总资产11905万元，资 产负债率28.3%，2014年销售收入13296万元， 其中出口创汇220万美元，实现利税2170万元。
						</p>
						<p>
							目前公司拥有年产17000吨橡胶促进剂生产线，主要产品为橡胶促进剂MBT、MBTS、CBS、NOBS、TBBS、 TMTD六个品种。主要用于轮胎、橡胶、胶带、胶鞋等， 有的产品还可用于医疗行业，出口量约为30%。产品销往美 国、韩国、印度、英国等多个国家和地区，主要用户为全球轮胎生产商和国内知名轮胎生产企业。
						</p>
						<p>
							公司生产的橡胶促进剂其中的五个产品（MBT、MBTS、CBS、NOBS、TBBS)之间形成了一个产业链，随着中国 经济逐步与国际接轨，橡胶加工行业广泛应用高新技术， 以提高橡胶制品的产量和质量。子午轮胎逐步占据轮胎市场， 品种规模逐渐发展齐全，以具有低滚动阻力，抗湿滑和耐磨损的绿色环保型轮胎为代表的高性...
						</p>
					</div>
					<span class="check-more behind"><a href="introduce.html">查看更多</a></span>
				</article>
			</section>
			<section class="product">
				<span class="title">产品展示</span>
				<ul>
					<li>
						<img src="../img/demo2.png" alt="图片加载失败" />
						<div>
							<span>橡胶硫化促进剂MBT(M)橡胶硫化促进剂MBT(M)</span>
							<p>天然胶与合成胶用促进剂，具有宽广的硫化范 围，可单独使用，或与二硫代氨基甲酸盐类、 秋兰姆类、胍类和其它碱性促进剂并用。主要 用于制造轮胎、胶带、胶鞋和其他工业橡胶制 品。</p>
							<button>查看详情</button>
						</div>
					</li>
					<li>
						<img src="../img/demo2.png" alt="图片加载失败" />
						<div>
							<span>橡胶硫</span>
							<p>天然胶与合成胶用促进剂，具有宽广的硫化范 围，可单独使用，或与二硫代氨基甲酸盐类、 秋兰姆类、胍类和其它碱性促进剂并用。主要 用于制造轮胎、胶带、胶鞋和其他工业橡胶制 品。</p>
							<button>查看详情</button>
						</div>
					</li>
					<li>
						<img src="../img/demo2.png" alt="图片加载失败" />
						<div>
							<span>橡胶硫化促进剂MBT(M)</span>
							<p>天然胶与合成胶用促进剂，具有宽广的硫化范 围，可单独使用，或与二硫代氨基甲酸盐类、 秋兰姆类、胍类和其它碱性促进剂并用。主要 用于制造轮胎、胶带、胶鞋和其他工业橡胶制 品。</p>
							<button>查看详情</button>
						</div>
					</li>
					<li>
						<img src="../img/demo2.png" alt="图片加载失败" />
						<div>
							<span>橡胶硫化促进剂MBT(M)</span>
							<p>天然胶与合成胶用促进剂，具有宽广的硫化范 围，可单独使用，或与二硫代氨基甲酸盐类、 秋兰姆类、胍类和其它碱性促进剂并用。主要 用于制造轮胎、胶带、胶鞋和其他工业橡胶制 品。</p>
							<button>查看详情</button>
						</div>
					</li>
				</ul>
				<span class="check-more"><a href="product.html">查看更多</a></span>
			</section>
			<section class="market">
				<aside>
					<img src="../img/earth.png" alt="图片加载失败" />
				</aside>
				<article>
					<span class="title">市场分布</span>
					<div>
						<p>
							晋城天成化工有限公司是国内知名的橡胶助剂生产商，与多家国内和国际知名的轮胎企业 建立了稳定的供求关系产品畅销国内20多省、市、区产品远销欧州、美洲、非洲、亚洲等 国际市场.
						</p>
						<p>
							致力提供高品质的产品和服务来满足国内外客户的需求，致力于客户满意度100%
						</p>
					</div>
				</article>
			</section>
			<section class="message">
				<span class="title">在线留言</span>
				<div>
					<p>
						<span>您的姓名：</span>
						<input type="" name="" id="" value="" placeholder="请输入您的姓名" />
					</p>
					<p>
						<span>联系号码：</span>
						<input type="" name="" id="" value="" placeholder="请输入您的联系号码" />
					</p>
					<p>
						<span>电子邮箱：</span>
						<input type="" name="" id="" value="" placeholder="请输入您的电子邮箱" />
					</p>
					<p>
						<span>留言内容：</span>
						<textarea name="" rows="" cols="" placeholder="请输入留言内容"></textarea>
					</p>
					<p>
						<button>确认提交</button>
					</p>
				</div>
			</section>
		</div>
		<footer></footer>

		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
		<script type="text/javascript">
			$(function() {
				$('header').load('header.html')
				$('footer').load('footer.html')
				$('.behind').appendTo($('article div p:last-child'))
			})
		</script>
	</body>

</html>
