<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/global.css"/>
		<style type="text/css">
			.banner {
				/*min-width: 1200px;*/
				width: 100%;
				/*padding-top: 25%;*/
				/*background-image: url(../img/banner-bg.png);*/
				/*background-size: auto 100%;
				background-repeat: repeat-x;*/
			}
			
			.banner .content {
				min-width: 1200px;
				width: 100%;
				padding-top: 25%;
				background: url(../img/banner.png) no-repeat center center;
				background-size: 100% 100%;
			}
		</style>
	</head>
	<body>
		<header></header>
		<div class="banner">
			<div class="content"></div>
		</div>
		<div class="main">
			
		</div>

		
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

		<script type="text/javascript">
			$(function() {
				$('header').load('header.html')
			})
		</script>
	</body>
</html>
