<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>晋城天成化工有限公司</title>
		<link rel="stylesheet" type="text/css" href="../css/global.css" />
		<link rel="stylesheet" type="text/css" href="../css/pc/introduce.css" media="screen and (min-width: 500px)" />
		<link rel="stylesheet" type="text/css" href="../css/mobile/introduce-m.css" media="screen and (max-width: 499px)" />

	</head>

	<body>
		<header></header>
		<div class="banner">
			<div>
				<p>用最好的产品服务客户</p>
				<p>以企业的发展报效社会</p>
				<p>— 世界领先的橡胶硫化促进剂生产商之一 —</p>
			</div>
		</div>
		<div class="introduce">
			<h5>公司概况</h5>
			<div>
				<p>
					晋城天成化工有限公司成立于2007年8月，位于陵川县崇文镇嘉落铺村，现有员工235人，是中国橡胶工业协会理事单位。2009年被晋城市工商行政管理局评为守合同重信用企业; 2013年被晋 城市商务局授予对外贸易先进企业，被山西省科技厅评为省级民营科技企业；2014年被晋城市中小企业局评为创新型企业，同时公司的技术中心通过省中小企业局评审，认定为省级中小企业技术 中心，且公司的商标“四方”2014年被山西省工商行政管理局授予“山西省著名商标”称号，国家高新技术企业，是山西省乃至中西部地区唯一生产橡胶促进剂的企业。
				</p>
				<p>
					公司占地面积11.2万平方米，职工235人，其中专业技术人员70人，注册资本2000万元。现有总资产11905万元，资产负债率28.3%，2014年销售收入13296万元，其中出口创汇220万美元， 实现利税2170万元。
				</p>
				<p>
					目前公司拥有年产17000吨橡胶促进剂生产线，主要产品为橡胶促进剂MBT、MBTS、CBS、NOBS、TBBS、TMTD六个品种。主要用于轮胎、橡胶、胶带、胶鞋等，有的产品还可用于医疗行 业，出口量约为30%。产品销往美国、韩国、印度、英国等多个国家和地区，主要用户为全球轮胎生产商和国内知名轮胎生产企业。
				</p>
				<p>
					公司生产的橡胶促进剂其中的五个产品（MBT、MBTS、CBS、NOBS、TBBS)之间形成了一个产业链，随着中国经济逐步与国际接轨，橡胶加工行业广泛应用高新技术，以提高橡胶制品的产量 和质量。子午轮胎逐步占据轮胎市场， 品种规模逐渐发展齐全，以具有低滚动阻力，抗湿滑和耐磨损的绿色环保型轮胎为代表的高性能子午胎将有大的发展趋势，新型橡胶助剂生产符合国家产业 政策、行业发展规划及技术政策。
				</p>
				<p>
					我国的橡胶促进剂厂家绝大多数分布在南方，而在山西生产橡胶助剂的厂家仅我们公司一家，我公司这一项目填补了省内空白。和同行业相比，我公司具有独特的地理优势，橡胶促进剂的主要原 材料是二硫化碳、苯胺、烧碱等，在我公司周边均可采购。材料价格较同行有着得天独厚的优势，这些优势使我公司在市场方面具备了很强的竞争力。预计2016年将新增出口创汇300万美元，新 增就业岗位30余个。
				</p>
			</div>
		</div>
		<footer></footer>
		
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
		<script type="text/javascript">
			$(function() {
				$('header').load('header.html')
				$('footer').load('footer.html')
			})
		</script>
	</body>

</html>