<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>晋城天成化工有限公司</title>
		<link rel="stylesheet" type="text/css" href="../css/pc/message.css" media="screen and (min-width: 500px)" />
		<link rel="stylesheet" type="text/css" href="../css/mobile/message-m.css" media="screen and (max-width: 499px)" />

	</head>

	<body>
		<header></header>
		<div class="banner">
			<div>
				<p>提供绿色安全产品</p>
				<p>致力于人类可持续发展</p>
			</div>
		</div>
		<div class="message">
			<h5>在线留言</h5>
			<div>
				<p>
					<span>您的姓名：</span>
					<input type="" name="" id="" value="" placeholder="请输入您的姓名" />
				</p>
				<p>
					<span>联系号码：</span>
					<input type="" name="" id="" value="" placeholder="请输入您的联系号码" />
				</p>
				<p>
					<span>电子邮箱：</span>
					<input type="" name="" id="" value="" placeholder="请输入您的电子邮箱" />
				</p>
				<p>
					<span>留言内容：</span>
					<textarea name="" rows="" cols="" placeholder="请输入留言内容"></textarea>
				</p>
				<p>
					<button>确认提交</button>
				</p>
			</div>
		</div>
		<footer></footer>
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
		<script type="text/javascript">
			$(function() {
				$('header').load('header.html')
				$('footer').load('footer.html')
			})
		</script>
	</body>

</html>