<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>晋城天成化工有限公司</title>
		<link rel="stylesheet" type="text/css" href="../css/global.css" />
		<link rel="stylesheet" type="text/css" href="../css/pc/product.css" media="screen and (min-width: 500px)" />
		<link rel="stylesheet" type="text/css" href="../css/mobile/product-m.css" media="screen and (max-width: 499px)" />

	</head>

	<body>
		<header></header>
		<div class="banner">

		</div>
		<div class="product">
			<div class="title">产品展示</div>
			<section>
				<h5>橡胶硫化促进剂MBT(M)</h5>
				<ul>
					<li>
						<img src="../img/demo2.png" alt="">
						<p>橡胶硫化促进剂MBT(M)</p>
						<div>
							<span>化学名称：2- 硫醇基苯骈噻唑</span>
							<span>国内外同类产品名称：M,MBT</span>
							<span>分子式：C7H5NS2</span>
							<span>分子量：167.23</span>
							<span>CAS 注册号：149-30-4</span>
							<span>产品标准：GB/T 11407-2013</span>
						</div>
						<button><a href="productDetail.html">查看详情</a></button>
					</li>
					<li>
						<img src="../img/demo2.png" alt="">
						<p>橡胶硫化促进剂MBT(M)</p>
						<div>
							<span>化学名称：2- 硫醇基苯骈噻唑</span>
							<span>国内外同类产品名称：M,MBT</span>
							<span>分子式：C7H5NS2</span>
							<span>分子量：167.23</span>
							<span>CAS 注册号：149-30-4</span>
							<span>产品标准：GB/T 11407-2013</span>
						</div>
						<button><a href="productDetail.html">查看详情</a></button>
					</li>
					<li>
						<img src="../img/demo2.png" alt="">
						<p>橡胶硫化促进剂MBT(M)</p>
						<div>
							<span>化学名称：2- 硫醇基苯骈噻唑</span>
							<span>国内外同类产品名称：M,MBT</span>
							<span>分子式：C7H5NS2</span>
							<span>分子量：167.23</span>
							<span>CAS 注册号：149-30-4</span>
							<span>产品标准：GB/T 11407-2013</span>
						</div>
						<button><a href="productDetail.html">查看详情</a></button>
					</li>
					<li>
						<img src="../img/demo2.png" alt="">
						<p>橡胶硫化促进剂MBT(M)</p>
						<div>
							<span>化学名称：2- 硫醇基苯骈噻唑</span>
							<span>国内外同类产品名称：M,MBT</span>
							<span>分子式：C7H5NS2</span>
							<span>分子量：167.23</span>
							<span>CAS 注册号：149-30-4</span>
							<span>产品标准：GB/T 11407-2013</span>
						</div>
						<button><a href="productDetail.html">查看详情</a></button>
					</li>
				</ul>
			</section>
		</div>
		<footer></footer>
		
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
		<script type="text/javascript">
			$(function() {
				$('header').load('header.html')
				$('footer').load('footer.html')
			})
		</script>
	</body>

</html>