<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>晋城天成化工有限公司</title>
    <link rel="stylesheet" type="text/css" href="../css/pc/productDetail.css" media="screen and (min-width: 500px)"/>
    <link rel="stylesheet" type="text/css" href="../css/mobile/productDetail-m.css" media="screen and (max-width: 499px)"/>

    <style>
        .float-left {
            float: left;
        }
    </style>
</head>

<body>
<header></header>
<div class="banner">

</div>
<div class="product">
    <h5>橡胶硫化促进剂MBT(M)粉</h5>
    <div>
        <img src="../img/demo2.png" alt="">
        <p>
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
            性状：淡黄色或灰白色粉末，微臭，有苦味，无毒，比重1.42-1.52，熔点170℃以上，易溶于乙酸乙酯、丙酮、氢氧化钠及
        </p>
    </div>
</div>
<footer></footer>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $('header').load('header.html')
        $('footer').load('footer.html')
    })
</script>
</body>

</html>
