<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>晋城天成化工有限公司</title>
    <link rel="stylesheet" type="text/css" href="../css/pc/progress.css" media="screen and (min-width: 500px)"/>
    <link rel="stylesheet" type="text/css" href="../css/mobile/progress-m.css" media="screen and (max-width: 499px)"/>

</head>
<body>
<header></header>
<div class="banner">
    <div>
        <p>用最好的产品服务客户</p>
        <p>以企业的发展报效社会</p>
        <p>— 世界领先的橡胶硫化促进剂生产商之一 —</p>
    </div>
</div>
<div class="progress">
    <h5>发展历程</h5>
    <div>

    </div>
</div>
<footer></footer>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $('header').load('header.html')
        $('footer').load('footer.html')
    })
</script>
</body>
</html>
